* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header ul {
    background: #333;
    text-align: center;
}
a {
    color: white;
}
ul li {
    padding: 5px;
    list-style: none;
}
h1 {
    text-align: center;
    margin: 20px;
}
#about {
    margin: 20px;
    
}
#projects {
    margin: 50px;
    padding: 10px;
}
.project {
    margin: 20px;
}
#contact {
    
    margin-bottom: 80px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    padding: 20px;
    background: #333;
    color: white;
    
}
button {
    padding: 10px;
    border-radius: 10px;
    color: red;
    background: blue;
    border: none;
}